/* General Styling */
body {
  font-family: 'Anton', 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 1.75rem;
  margin: 0;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

hr {
  border: none;
}

/* Styling for navigation header. */

.navlogo {
  display: inline-block;
  line-height: 70px;
  margin-block-start: 0px;
  margin-block-end: 0px;
  margin-top: 15px;
  margin-bottom: 15px;
  vertical-align: middle;
  color: black;
  text-decoration: none;
  font-size: 2em;
  text-shadow: 1px 1px 5px black;
}

/* Form styling. */

.search-header,
.review-header {
  color: white;
  font-weight: 100;
  margin: 10px 0px;
}

.buttons {
  display: flex;
  justify-content: center;
}

.buttons > Button {
  margin: 0px 10px;
}

/* Styling for the search results. */
p {
  text-align: center;
}

/* Styles for the Add Court form page. */

 label {
   font-weight: 100;
   font-size: 0.9em;
   margin-top: 40px;
   margin-left: 11px;
 }

 .court-add input,
 .court-add select {
  width: 95%;
  height: 15%;
  margin: auto;
  font-size: 0.9em;
 }

 /* Styling for Court Review Page */
 .court-info {
  margin: 0;
  margin-bottom: 20px;
  color: whitesmoke;
  font-size: 1.55em;
  font-weight: 100;
  text-shadow: 2px 2px 5px #1f1f1f;
}

#backboard,
#rimtype {
  font-size: 1.2em;
}

.reviews-header {
  text-align: center;
}

.review-date {
  margin: 15px 0px;
  font-weight: 100;
}

.review-body {
  font-size: 1em;
  font-weight: 200;
}

/* Clearfix */
.clearfix {
  content: "";
  clear: both;
  height: 1px;
}

/* Error Styling */
.error-message {
  text-align: center;
  margin: 5px 0px 0px;
  font-family: 'Open Sans', sans-serif;
  color: red;
  font-weight: 900;
  font-size: 0.9rem;
}